body {
  background-color: #519597;
  height: 100vh;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz {
  background-color: rgba(103, 55, 167, 0.7);
  width: 40%;
  text-align: center;
  padding: 5em;
  margin-top: 4em;
  border-radius: 5%;
  border: 3px solid black;
}

.question {
  font-size: 1.3rem;
}

#choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qbutton {
  background-color: rgb(10, 122, 57);
  margin: 1em;
  color: white;
  border: 0.1em solid black;
  width: 25%;
  padding: 0.7em;
  cursor: pointer;
  flex-basis: 80%;
  outline: 0;
  transition: all 0.1s ease-in-out;
}

.qbutton:hover {
  background-color: rgb(68, 165, 109);
}
